@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

.mensaje{
    background-color: rgba($color: #D0BDF4, $alpha: 1.0);
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}