@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

nav{
    font-family: 'Oswald', sans-serif;
}


.nav-link{
    margin-left: 2rem;
}


.cart{
    margin-left: 3rem;
    margin-right: 2rem;
}

.bg-myViolet{
    background-color: rgba($color: #8548B3, $alpha: 1.0);
}

.inicio{
    text-decoration: none;
    color:white;
    opacity: 0.5;
}
.inicio:hover{
    text-decoration: none;
    color:white;
    opacity: 0.8;
}

.categories-style{
    
    text-decoration: none;
    color: rgba($color: #8548B3, $alpha: 1.0);
}

.categories-style:hover{
    text-decoration: none;
    color: rgba($color: #8548B3, $alpha: 1.0);
}


.navbar-nav > li > .dropdown-menu {
 
    color: #e5dbdb;
     
    background-color: #8548B3;
}